<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRUD de Clientes</title>
</head>
<body>
    <h1> CRUD de Clientes</h1>
    <h1> Menu</h1>
    <ul>
         <li>
             <a href="/">Home</a>
         </li>
        <li>
            <a href="/clientes">Cadastro</a>
        </li>
     </ul>
    <h2> Exlcusão do Cliente {{cliente.nome}}</h2>
    <form method="POST" action="/clientes/excluir/{{cliente.conta}}">
        {% if delete is defined %}
            <input type="hidden" name="delete">
        {%endif%}

        <h3> Tem certeza que gostaria de exlcuir o cliente "{{cliente.nome}}"</h3>
        <button type="submit" value="Submit" >Sim</button>
        <a href="/hoteis">
            <input type="button" value="Cancelar">
        </a>
    </form>
</body>
</html>